.container {
    max-width: 1440px;
    margin: 0 auto 40px;
    padding: 0 25px;
}
.form {
    display: flex;
    gap: 30px;
}
.input {
    width: 400px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 6px;
    border: 2px solid #2f0863;
    outline: none;
    transition: border 0.4s ease;
}
.input:hover,
.input:focus {
    border: 2px solid rgb(238, 88, 29);
}

.button {
    max-width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 6px;
    border: 2px solid #2f0863;
    background: #e0caff;
    color: #2f0863;
    padding: 8px 16px;
    transition: background 0.4s ease, color 0.4s ease;
}

.button:hover,
.button:focus {
    background: #2f0863;
    color: #e69f36;
}