.box {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 25px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}
.movieItem {
    width: 262px;
    padding: 16px;
    border-radius: 8px;
    overflow: hidden;
    background: #19161d;
    border: 2px solid rgb(238, 88, 29);

}
.noFound {
    color: rgb(212, 231, 35);
}