@import 'node_modules/modern-normalize/modern-normalize.css';

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom right,
                rgba(22, 3, 39, 0.788),rgba(212, 21, 7, 0.884),rgba(236, 222, 28, 0.911));
}