.box {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 25px;
}



.title {
    margin-bottom: 20px;
    color: #fff3b0;
    text-shadow: 0 0 2px #2f0863, 0 0 5px #2f0863;
    margin-bottom: 20px;
}
